  @-webkit-keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
  
  .check__box-design {
    max-width: 100%;
    margin: 0 auto;
    padding: 1.8em;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .check__box-design label{
    margin: 0;
  }
  
  .check__box-design .check__box-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 186px);
    justify-content: space-between;
    column-gap: 2em;
    row-gap: 4em;
  }
  
  .check__box-design .check__all {
    display: none;
  }
  
  .check__box-design .check__all-design {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: .4em;
    padding-bottom: 1em;
    cursor: pointer;
  }
  
  .check__box-design .check__all-design label {
    cursor: pointer;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    font-size: 1em;
    /* font-family: poppins; */
    font-weight: bold;
    flex: 1;
  }

  .check__all-box{
    flex: 0 1 auto !important;
  }
  
  .check__box-design .check__all-design .check__all-box {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 1.4em;
    height: 1.4em;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 0 2px #007ce2;
            box-shadow: 0 0 0 2px #007ce2;
    position: relative;
  }
  
  .check__box-design .check__all-design .check__all-box .state {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
   
  }
  
  .check__box-design .check__all-design .check__all-box .active-state {
    display: block;
  }
  
  .check__box-design .check__all-design .check__all-box .checked.active-state svg {
    stroke-linecap: round;
    stroke-dasharray: 27;
    stroke-dashoffset: -23;
    -webkit-animation: dash 500ms ease forwards;
            animation: dash 500ms ease forwards;
            margin-top: -0.2rem;

  }
  
  .check__box-design .check__all-design .check__all-box .some__checked {
    background-color: #007ce2;
  }
  
  .check__box-design .check__all-design .check__all-box .some__checked::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 3px;
    background: #fff;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .child__box {
    padding: 0.5em;
    border-radius: 0.3em;
    max-width: 20em;
    -webkit-box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.04), -7px -7px 5px rgba(255, 255, 255, 0.8);
            box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.04), -7px -7px 5px rgba(255, 255, 255, 0.8);
    border: 2px solid #ebebeb;
  }
  
  .child__box-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1em;
  }
  
  .child__box input[type="checkbox"] {
    display: none;
    pointer-events: none;
  }
  
  .child__box input[type="checkbox"] + label {
    cursor: pointer;
    font-size: 1em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 3fr;
        grid-template-columns: auto 3fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
            margin: 0;
  }
  
  .child__box input[type="checkbox"] + label svg {
    width: 1.5em;
    stroke: #007ce2;
    stroke-width: 5;
    fill: white;
  }
  
  .child__box input[type="checkbox"] + label svg .box {
    stroke-dasharray: 320;
    stroke-dashoffset: 0;
    fill: white;
    -webkit-transition: stroke-dashoffset 0.3s linear;
    transition: stroke-dashoffset 0.3s linear;
  }
  
  .child__box input[type="checkbox"] + label svg .check {
    stroke-dasharray: 70;
    stroke-dashoffset: 70;
    fill: none;
    -webkit-transition: stroke-dashoffset 0.3s linear;
    transition: stroke-dashoffset 0.3s linear;
  }
  
  .child__box input[type="checkbox"] + label span {
    /* padding-top: 0.3em;
    margin-left: 0.3em; */
    margin-left: .2rem;
    /* text overflow ellipse */
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .child__box input[type="checkbox"]:checked + label .box {
    stroke-dashoffset: 320;
  }
  
  .child__box input[type="checkbox"]:checked + label .check {
    stroke-dashoffset: 0;
  }
  /*# sourceMappingURL=indes.css.map */